.container {}

a, a:link, a:visited, a:hover, a:active {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

.logo {
  align-items: center;
  display: flex;
}

.logo img {
  width: 62px;
  border-radius: 50%;
}

.logo span {
  font-size: 30px;
  color: black;
  font-weight: bold;
  font-family: KaiTi;
  display: inline-block;
}

header.header-line {
  text-align: center;
  /* vertical-align: middle; */
  line-height: 65px;
}

.header-line .ant-menu-horizontal {
  line-height: 63px !important;
}

.footer {
  text-align: center;
}

/* 文章列表某一项 */

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  /* padding-inline-start: 40px; */
}

.have-img {
  min-height: 140px;
}

.have-img .wrap-img {
  position: absolute;
  top: 50%;
  margin-top: -60px;
  right: 0;
  width: 125px;
  height: 100px;
  margin-right: 14px;
}

.have-img .wrap-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

.note-list .have-img .wrap-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
}

img {
  vertical-align: middle;
}

.have-img>div {
  padding-right: 140px;
  display: block;
  box-sizing: border-box;
}

.article-item {
  position: relative;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px 2px 20px 20px;
  border-bottom: 1px solid #f0f0f0;
  word-wrap: break-word;
  line-height: 20px;
}

.article-item a {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  background-color: transparent;
}

.article-item .title {
  margin: -7px 0 4px;
  display: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.article-item .abstract {
  margin: 0 0 8px;
  font-size: 13px;
  line-height: 24px;
  color: #999;
}

.article-item .meta {
  padding-right: 0!important;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.article-item .meta a {
  margin-right: 10px;
  color: #b4b4b4;
}

.article-item .meta span {
  margin-right: 10px;
  color: #b4b4b4;
}

/**动画特效**/

.home-banner {
  background: #393D49;
  width: 100%;
  height: 113px;
}

/* 通知栏 */

.home-tips {
  padding: 10px 10px;
  background: #fff;
  font-size: 13px;
  /* margin-bottom: 15px; */
}

.shadow {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
}

.home-tips>i {
  color: #009688;
  font-size: 15px;
  float: left;
  line-height: 17px;
}

.home-tips>.home-tips-container {
  margin-left: 20px;
  height: 17px;
  overflow: hidden;
}

.home-tips>span {
  display: none;
}

.home-tips .tip-this {
  display: block;
  color: #FF5E52;
}

/* 个人简介 */

.blogerinfo {
  text-align: center;
  padding: 0px 15px;
  background: #fff;
  margin: 15px 0px 15px 15px;
}

.blogerinfo-figure {
  display: inline-block;
  margin: 20px auto;
}

img {
  display: inline-block;
  border: none;
}

.blogerinfo-figure img {
  border-radius: 50%;
  max-height: 86px;
}

.blogerinfo-nickname {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.blogerinfo-introduce {
  margin: 15px auto;
  font-size: 18px;
  width: 90%;
}

.blogerinfo-location {
  color: #808080;
  margin: 15px;
}

.blogerinfo-contact {
  padding: 15px;
  padding-top: 5px;
}

.blogerinfo-contact>a {
  padding: 0 10px;
}

/* 右侧文章推荐栏 */

.blog-module {
  margin: 15px 0px 15px 15px;
  padding-bottom: 5px;
  background: #fff;
}

.blog-module-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 5px 0px 0px;
}

.blog-module .banner-show {
  text-align: center;
  padding: 10px;
}

/* 留言板 */

.aboutinfo {
  text-align: center;
  padding: 0 15px;
}

.aboutinfo-nickname {
  font-size: 32px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.aboutinfo-introduce {
  margin: 20px auto;
  font-size: 18px;
  width: 90%;
}

.aboutinfo-location {
  color: #808080;
  margin: 15px;
  font-size: 18px;
}

.aboutinfo-contact {
  margin: 15px;
}

.aboutinfo-contact p {
  font-size: 2em;
}

.aboutinfo-figure {
  display: inline-block;
  margin: 20px auto;
}

.aboutinfo-figure img {
  border-radius: 50%;
  max-height: 86px;
}

.aboutinfo-abstract>h1 {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  margin-top: 25px;
}

.aboutinfo-abstract>p {
  margin: 5px 0;
  font-size: 14px;
  text-align: left;
  text-indent: 2em;
}

.aboutinfo-abstract .end-tab {
  text-align: center;
}

/* 文章详情页 */

.articleContainer .like {
  text-align: center;
}

.articleContainer .meta {
  text-align: center;
  font-size: 12px;
  color: #999;
}

.articleContainer .meta .item {
  padding-left: 10px;
}

/* 文章详情页上下一篇 */

.article-nav {
  overflow: hidden;
  margin-bottom: 30px;
  font-size: 14px;
  color: #bbb;
}

.article-nav span {
  float: left;
  position: relative;
  width: 50%;
}

.article-nav span.article-nav-next {
  float: right;
  text-align: right;
}

/* 登录模态框 */

.ant-tabs .ant-tabs-top-content, .ant-tabs .ant-tabs-bottom-content {
  width: 100%;
  text-align: center;
}

/* 登出按钮样式 */

.logout-menu {
  display: inline-block;
  /* max-width: 120px; */
}

.logout-menu span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}